@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

@layer base {
  body {
    @apply bg-[#f7f7f7] text-[#202020] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-5xl sm:text-5xl md:text-5xl font-[Raleway]
  }

  h2 {
    @apply text-2xl sm:text-2xl
  }
  
  li {
    @apply cursor-pointer
  }

  input, textarea {
    @apply text-black
  }

  button {
    @apply shadow-xl shadow-gray-900 rounded-xl uppercase bg-gradient-to-r from-[#a593f3] to-[#785bf8] text-white
  }
}